ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://0.0.0.0:5000
ConnectionStrings__DashboardDb=server=192.168.1.109;port=3306;database=dashboard;user=appuser;password=appuser!8842;
HomeAssistant__BaseUrl=http://192.168.1.177:8123
HomeAssistant__Token=replace-with-real-token
Cors__AllowedOrigins__0=http://192.168.1.190
